{%load  static  %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alcher Webops</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{%static 'Task1/css/style.css'%}">
</head>
<body>
 <header class="topheader">
  <a class="home header-items " href="./index.html"><img class="home-logo" src="{%static "Task1/images/home.png" %}"> <span>Home</span></a>


  <div class="dropdown user">
     <div class="home header-items ">
       <button class="user1"><img src="{%static "Task1/images/user.jpg" %}"><span>User</span></button>
     </div>
     <div id="User-dropdown" class="dropdown-content dropdown">
      <a href="#">Profile</a>
      <a href="#">Add Profile</a>
      <a href="#">Logout</a>
    </div>
 </div>  
 </header>
<!-- The sidebar -->
<div class="dropmenu">
<img class="sidebar-button" src="{%static "Task1/images/menu.png" %}">
<div class="sidebar " id="menu">
  <a class="add-item" href="{%url 'add-profile-page'%}"><img class="plus-logo" src="{%static "Task1/images/plus.svg" %}"><span>New Item</span></a>
<div class="side-drop">
  <a class="s s1" href="#dashboard"><img class="app" src="{%static "Task1/images/app-store.png" %}">Dashboard</a>
   <div id="sidemenu1" class="sidedrop">
     <a class="dropoption" href="#">Commerece</a>
     <a class="dropoption" href="#">Analytics</a>
     <a class="dropoption" href="#">Crypto</a>
     <a class="dropoption" href="#">Helpdesk</a>
     <a class="dropoption" href="#">Monitoring</a>
     <a class="dropoption" href="#">Fitness</a>
   </div>  
  </div>
<div class="side-drop">  
  <a  class="s s2" href="#application"><img class="app" src="{%static "Task1/images/app-store.png" %}">Application</a>
  <div id="sidemenu2" class="sidedrop">
    <a class="dropoption" href="#">Commerece</a>
    <a class="dropoption" href="#">Analytics</a>
    <a class="dropoption" href="#">Crypto</a>
    <a class="dropoption" href="#">Helpdesk</a>
    <a class="dropoption" href="#">Monitoring</a>
    <a class="dropoption" href="#">Fitness</a>
  </div>  
</div>
<div class="side-drop">  
  <a class="s s3" href="#elements"><img class="app" src="{%static "Task1/images/app-store.png" %}">Elements</a>
  <div id="sidemenu3" class="sidedrop">
    <a class="dropoption" href="#">Commerece</a>
    <a class="dropoption" href="#">Analytics</a>
    <a class="dropoption" href="#">Crypto</a>
    <a class="dropoption" href="#">Helpdesk</a>
    <a class="dropoption" href="#">Monitoring</a>
    <a class="dropoption" href="#">Fitness</a>
  </div>  
</div>
</div>
</div>
<!-- Page content -->
<div class="content">
<h1>Welcome</h1>
<div class="profile">
  <img class="profile-pic" src="{%static "Task1/images/user.jpg" %}">
<h1>Username</h1>

</div>
<h2>Description</h2>
<p>Some words and titles are changed. This is the description</p>
<div class="data">
  {% if messages %}
  
  <div class="alert alert-success" role="alert">
  
    <img class="alert-logo" src="{%static "Task1/images/alert.svg" %}">
    {% for message in messages %}
    {{messages.tags}}
      {{ message }}
  
   
    {% endfor %}
  </div>
{% endif %}


  <table class="fetched-data">
    <tr>

      <th>
        Name
      </th>
      <th>
        Username
      </th>
      <th>
        Email

      </th>
      <th>
        Operations
      </th>
    </tr>
    {%for Profile in Profiles%}
    

    <tr class="row_data" row_id="{{Profile.id}}">
      <input  type="number" class="table-display" name="id" value="{{Profile.id}}" style="display:none" disabled>

      <td >
        <input  type="text" class="table-display" name="name" value="{{Profile.name}}" disabled>
      </td>
      <td >
        <input type="text" class="table-display" name="name" value="{{Profile.username}}" disabled>
      </td>
      <td >
        <input type="email" class="table-display" name="name" value="{{Profile.email}}" disabled>
      </td>
      <td>
      <div class="operations">
      <a href = "{% url 'edit-profile-page' Profile.id %}" class="edit buttons"><img src="{%static "Task1/images/save.png"%}"><span>Edit</span></button>
      <a href = "{% url 'delete-profile-page' Profile.id %}" class="delete buttons"  ><img src="{%static "Task1/images/save.png"%}"><span>Delete</span></a>
      </div>  
      </td>

    </tr>

    {%endfor%}

  </table>
  
</div>
<div id="add-profile-container">
  
<a href="{%url 'add-profile-page' %}" class="add-profile"><img class="plus-logo" src="{%static "Task1/images/plus.svg" %}">Add Profile</a>
</div>
</div>












<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="{% static 'Task1/js/home.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
</body>
</html>